* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
body {
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}
button{
    border: none;
    cursor: pointer;
    transition:2s;
}
#header {
    padding: 30px 0;
    animation: 2s header linear 1;
}
@keyframes header {
    0% {
      margin-left: 1000px;
    }
    100%{
        margin-left: 0;
    }
}


.header {
    display: flex;
    justify-content:space-between;
}
.header-logo {
    display: flex;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    color: #22343D;
    padding-left: 16px ;
}
.header-nav a{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    padding: 0 15px;
}
.header-btn button {
    background: #02897A;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 12px;
}
.header-btn button:hover{
    background: none;
    color: #173A56;
    border: 2px solid #BCD0E5;
}
.header-btn{
    display: flex;
    align-items: center;    
}
#hero{
    padding: 40px 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.hero-text h1 {
    padding-top: 26px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.hero-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    padding: 18px 0 45px 0;
}
.hero-btn-one button {
    font-weight: 700;
    font-size: 16px;
    padding: 15px 41px;
    border-radius: 4px ;
    color: #FFFFFF;
    margin: 0 12px;
    background: #02897A;
}
.hero-btn-one button:hover {
    background: none;
    border: 2px solid #BCD0E5;
    color: #02897A;
}
.hero-btn-two{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 3px;
}
.hero-btn-two a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
    align-items: center;
    transition: 4s;
    padding-left: 8px;
    width: 135px;
}
.hero-btn-two a :hover{
    transform: rotate(180deg);
}
.hero-btn {
    display: flex;
    align-items: center;
}
.hero-img {
    animation: hero 2s alternate;
}
#product {
    background: url("../img/Bg.png")no-repeat bottom/cover;
    min-height: 30vh;
    padding: 40px 0;
}
.product h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
}

.product-block h2 {
    padding:30px 0 13px 0;
}
.product-blocks {
    display: flex;
    justify-content: space-around;
    padding: 66px 0;
}
.product-block-one h2 {
    padding: 15px 0 13px 0;
}
.product-block-two h2 {
    padding: 15px 0 13px 0;
}
.product-block-three h2 {
    padding: 15px 0 13px 0;
}
.product-block-four h2 {
    padding: 15px 0 13px 0;
}
.product-btn {
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 15px 35px;
}
.product-btn:hover {
    background: transparent;
    border: 2px solid #BCD0E5;
    color: #02897A;
}
#management {
    padding: 40px 0;
}
.management {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.management img {
    padding-top: 150px;
}
.management-text h3 {
    padding-top: 169px;
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.management-text h1{
    padding: 8px 0 23px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.management-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.management-text h4  {
    padding: 30px 0 12px 0;
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
#support {
    padding: 40px 0;
}
.support {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.support img {
    padding: 350px 94px 168px 0px;
}
.support-text h3  {
    padding-top: 168px;
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.support-text h1 {
    padding: 8px 0 23px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.support-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.support-block {
    display: flex;
}
.support-block h6 {
    padding: 19px 15px 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.support-block img   {
    padding: 19px 15px 24px 0;
}

#work{
    padding: 40px 0;
}
.work-text img {
    padding-top: 150px;
}
.work {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-text h3 {
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}
.work-text h1 {
    padding: 8px 0 23px 0;
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
}
.work-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.work-text h4 {
    padding: 30px 0 12px 0;
    font-weight: 600;
    font-size: 16px;
    color: #22343D
}
#process {
    background:url("../img/Bg (1).png")no-repeat top/cover;
    min-height: 30vh;
    padding: 40px 0;
}
.process h1 {
    padding: 102px 0 16px 0;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
}
.process p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
}
.process-block-general {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.process-block-one {
    display: flex;
    align-items: center;
    padding: 12px;
}
.process-block-one div {
    width: 274px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.process-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #02897A;
    padding: 15px 30px;
    margin-top: 40px;
}
.process-btn:hover {
    background: transparent;
    border: 2px solid #BCD0E5;
    color: #02897A;
}
#content {
    padding: 40px 0;
}
.content-text h1 {
    padding:140px 0 8px 0;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}
.content-text p{
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
}
#content {
    padding: 40px 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}
.swiper-slide img {

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrapper {
    padding:33px 0 32px 0 ;
}
.swiper-slide p {
    padding: 24px 0 12px 0;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}
.swiper-slide h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding-bottom: 37px;
}
.swiper-slide h2:hover {
    cursor: pointer;
    color: #02897A;
}
#price {
    padding: 40px 0;
}
.price-come {
    display: flex;
    justify-content: space-around;
}
.price h1 {
    padding: 150px 0 8px 0;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}
.price h6 {
    padding-bottom: 46px;
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    padding-bottom:px;
}
.price-block {
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 320px;
    height: 456px;
}
.price-block:hover {
    background:#02897A ;
    border: 2px solid #BCD0E5;
    color: #AFAFAF;
}
.price-nav h1 {
    padding-top: 12px;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}
.price-nav p {
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
}
.price-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-text h1 {
    font-weight:700;
    font-size:76px;
    color: #02897A;
}
.price-text div h2 {
    padding-left: 8px;
    font-weight: 700;
    font-size: 24px;
    color:#02897A ;
}
.price-text div p {
    padding-left: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #AFAFAF;
}
.price-ok p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 8px 0;
}
.price-btn {
    background: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    padding:  11px 19px;
    color: #FFFFFF;
    margin-top: 16px ;
}



#say {
    padding: 40px 0;

}
.say h1 {
    padding: 100px 0 8px 0;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.say p {
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
}
.say-logo {
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    width: 327px;
    height: 236px;
}
.say-img {
    padding-top:28px ;
    padding-left: 27px;
}
.say-logo p {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.say-block {
    padding-left: 20px ;
    display: flex;
}
.say-gen h3 {
    padding-left: 14px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #02897A;
}
.say-gen h6 {
    padding-left: 14px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.say-gid {
    display: flex;
}
#join {
    padding: 40px 0 ;
}
.join-1 {
    padding-top: 140px;
    padding-right: 110px;
    padding-left: 110px;
}
.join {
    margin: 0 auto;
    background: #02897A;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    display: flex;
}
.join-text h1 {
    padding: 49px 20px 0 51px;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}
.join-btn {
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 13px 35px 7px 33px;
    margin: 58px 0 56px 51px;
}
.join-btn:hover {
    background: none;
    border: 2px solid #BCD0E5;
}
#blog {
    padding: 40px 0;
}
.blog-told {
    display: flex;
    justify-content: space-between;
}
.blog-one {
    padding: 60px 0 35px 78px;
    display: flex;
}

.blog-gen h1 {
    padding-left: 16px;
    font-weight: 700;
    font-size: 30px;
    color: #173A56;
}
.blog-gen div ul {
    display: flex;
    justify-content: space-evenly;
    padding:24px 16px 108px 81px;
}
.blog-dot h1 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}
.blog-dot p {
    padding: 10px 0 10px 0;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}
.blog-dot {
    padding: 78px 78px 8px 80px;
}
.blog-logo h1 {
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
    width: 135px;
}
.blog-logo p {
    padding: 10px 0 10px 0;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}
.blog-logo {
    padding: 78px 70px 8px 34px;
}
.blog-nav p {
    padding: 78px 0 34px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}
.blog-nav input {
    background: #FFFFFF;
    border: 2px solid #BCD0E5;
    border-radius: 4px;
    font-size: 16px;
    width: 325px;
    height: 48px;
    margin: 8px 0 21px 35px;
    padding: 10px 15px;
    color: #BCD0E5;
}
.blog-btn {
    background: #02897A;
    border-radius: 4px;
    padding: 8px 15px;
    margin: 21px 17px 13px 40px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

}
.blog-btn:hover{
    background: none;
    color: #173A56;
    border: 2px solid #BCD0E5;
}
.blog-get p {
    padding-top: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}













